* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(11, 174, 66);
}
.input {
  padding: 0px 3px;
}
.input > input {
  padding: 5px;
  width: 475px;
  height: 30px;
}
.container {
  margin-top: 13px;
  text-align: center;
}

.box-1 {
  padding: 10px 10px;
  margin: 13px 490px;
  width: 500px;
  background-color: azure;
}

.box-2 {
  background-color: rgb(11, 174, 66);
  width: 478px;
  height: 30px;
}
.box-3 {
  padding: 3px 0px;
}
textarea {
  margin-top: 5px;
}
